@font-face {
    font-family: 'Jost';
    src: local(Jost),
        url('../../fonts/Jost-Regular.woff2') format('woff2'),
        url('../../fonts/Jost-Regular.woff') format('woff'),
        url('../../fonts/Jost-Regular.ttf') format('ttf');
    font-weight: 1;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: local(Jost),
        url('../../fonts/Jost-SemiBold.woff2') format('woff2'),
        url('../../fonts/Jost-SemiBold.woff') format('woff'),
        url('../../fonts/Jost-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: local(Jost),
        url('../../fonts/Jost-Bold.woff2') format('woff2'),
        url('../../fonts/Jost-Bold.woff') format('woff'),
        url('../../fonts/Jost-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background-color: #ffffff;
    color: var(--text-color-primary);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.header {
    position: absolute;
    top: 13px;
    width: 100%
}

.footer {
    background-color: var(--color-gray);
}

.container {
    max-width: 1440px;
    padding: 0 9%;
    margin: 0 auto;
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
