.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
    column-gap: 36px;
}

.link-logo {
    display: inline-flex;
}
