.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
