.grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.grid__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
}

.grid__column:nth-child(even) {
  padding: 100px 0 0;
}

.grid__cell {
  display: grid;
  grid: 1fr / 1fr;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 575px) {
  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .grid__column:nth-child(even) {
    padding: 0;
  }
}
