.overlay-container:hover {
    opacity: 1;
}

.image-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.overlay-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(36, 36, 36, 0.51);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s opacity;
}
