.container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: stretch;
    align-items: center;
    border: 1px solid var(--color-brown-light);
    border-radius: var(--border-radius);
}

.filter-item {
    display: flex;
    justify-content: center;
    padding: 15px 5px;
    border: 1px solid var(--color-brown-light);

    & input[type="radio"] {
        display: none;
    }

    & label {
        cursor: pointer;
    }
}
