.header {
    padding: 23px 0;
    height: 90px;
    background-color: var(--color-purple-blue);
}

.content-container {
  padding: 55px 0;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
