.content-container {
    background-image: url('../../../../images/hero_bg@4x.webp');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center bottom 55px;
    height: 528px;
    padding: 165px 0;
}

.title {
    width: 560px;
    padding: 10px 0;
}

.subtitle {
    width: 350px;
    padding: 10px 0;
}

.actions {
    margin: 15px 0;
    padding: 10px;
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .content-container {
        background-image: url('../../../../images/hero_bg@3x.webp');
    }
}

@media (max-width: 767px) {
    .content-container {
        background-image: url('../../../../images/hero_bg@2x.webp');
    }
}

@media (max-width: 575px) {
    .content-container {
        background-image: url('../../../../images/hero_bg@1x.webp');
    }
}
