.container {
  display: grid;
  grid-template-columns: auto 50%;
  column-gap: 15px;
  align-items: start;
}

.justify-items_start {
  justify-content: start;
}

.justify-items_space-between {
  justify-content: space-between;
}
