.container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 15px;
  align-items: start;
}

.justify-items_start {
  justify-content: start;
}

.justify-items_space-between {
  justify-content: space-between;
  grid-template-columns: auto 50%;
}

@media (max-width: 575px) {
  .container {
    grid-template-columns: 100%;
    row-gap: 5px;
  }
}
